<?xml version='1.0' encoding='utf-8'?>
<widget id="com.twinforces.fathers" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FathersApp</name>
    <description>Cordova Fathers App</description>
    <author email="piercewetter3+fathers@gmail.com" href="https://jennica.github.io">
        Pierce T. Wetter III
    </author>
    <content src="cordova.html" /> <!-- Local file as fallback -->
    <allow-navigation href="http://localhost:*/*" />   
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
     <preference name="deployment-target" value="13.0" />
     <preference name="SwiftVersion" value="5.0" />
     <preference name="scheme" value="app" />
     <preference name="hostname" value="localhost" />
    </platform>
</widget>
